{{> header }}

<div>
	<form method="POST" action="/auth/login">
		<input type="text" name="username" placeholder="login">
		<input type="password" name="password" placeholder="password">
		<input type="submit" value="Go!">
	</form>
</div>

{{#error}}
<p>{{.}}</p>
{{/error}}

{{> footer }}
