{{> header }}

{{#editing}}
<form method="post" action="/manage/new">
{{/editing}}
	<input
		type="text"
		name="title"
		style="width:100%"
		{{^editing}}disabled{{/editing}}
		{{#title}}value="{{.}}"{{/title}}
		placeholder="title">
		<br>
	<textarea
		autoresize
		name="content"
		style="width:100%"
		{{^editing}}disabled{{/editing}}
		placeholder="content">{{content}}</textarea>
{{#editing}}</form>{{/editing}}

<script>
document.querySelector('textarea[autoresize]')
	.addEventListener(eventName, e => {
		window.setTimeout(() => {
			let t = e.target
			var offset = t.offsetHeight - t.clientHeight;
			t.style.height = 'auto'
			t.style.height = (t.scrollHeight + offset + 20) + 'px'
		}, 0)
	})
</script>

{{> footer }}